h1 {
  font-size: 200%;
}

h2 {
	font-size: 160%;
	margin-bottom: 0.5em;
}

h3 {
  font-size: 120%;
	font-weight: bold;
	margin: 0.3em 0;
}

h4 {
  	font-size: 100%;
	font-weight: bold;
}


.container {
	width: 80%;
  max-width: 1100px;
}

body {
  background: url('../images/bg_blue.png') repeat-x fixed left top #4D87C7;
  font-family: arial,helvetica,sans-serif;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

ul {
	list-style: none;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

.field {
	margin-bottom: 0.5em;
}

fieldset {
	width: 80%;
}


/* Links */

a {
  color: #463867;
  text-decoration: none;
}

a:hover {
  color: #201a30;
  text-decoration: underline;
}

a:visited {
  color: #201a30;
}


/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  /*color: #09c;*/
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* Register */
ul.user_data {
	padding: 0;
	margin: 0;
}

ul.user_data div.field {
	float: left;
	width: 50%;
}

ul.user_data div.long_field {
	width: 100%;
}


ul.user_data div.short_field {
	width: 20%;
}

ul.user_data div.medium_field {
	width: 100%
}

ul.user_data div.field input {
	width: 90%;
}

ul.user_data div.long_field input {
	width: 95%;
}

ul.user_data div.medium_field input {
	width: 45%;
}

.field_with_errors label {
  	color: #87122d;
}

.field_with_errors input {
	border-color: #87122d;
}

#error_explanation {
  border: 2px solid #87122d;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

#error_explanation h4 {
  text-align: left;
  font-weight: bold;
  padding: 5px;
  color: #87122d;
  margin-bottom: 0;
}

#error_explanation p {
  color: #961432;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

a.right_link {
	float: right;
	margin-left: 2em;
}

div.actions {
	margin: 1em 0;
}

input.reset {
	margin-left: 1em;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/**
*	Enumeration of items
*/
table.enum {
	border: 1px solid #CCCCCC;
	margin: 0 0 1.5em;
}

.enum h3 {
	margin: 0.3em;
}

/**
*	Links to actions
*/
.action_links, .bold_action_links {
	float: right;
}

.action_links a, .bold_action_links {
	margin-left: 0.8em;
}

.bold_action_links a {
	font-weight: bold;
}

/**
*	Comments
*/
.new_comment {
	margin-bottom: 2em;
}
.comment_content {
	height: 100px;
	width: 80%;
	margin-top: 0;
}

.reviews {
	font-weight: bold;
}

/**
*		Artefacts
*/

.artefact_item_short {
	margin-bottom: 2em;
}

.edit_artefact textarea {
	width:80%;
}

.photo_upload {
	margin-bottom: 1em;
}

.visibility span {
	margin-right: 1em;
}

.visibility label, .locator label {
	font-weight: normal;
}

.locator input {
	margin-left: 0.5em;
	margin-right:2em;
}

/**
*		Loans
*/
#loan_message {
	margin: 1em 0;
}

table.loaner_info {
	width: 70%;
}
