<li>
	<%= user.firstname %> <%= user.lastname %>
	<% if current_user.administrator? %>
	<span>
		| <%= link_to "show", user_path(user) %>
		| <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
	                                :title => "Delete #{user.firstname} #{user.lastname}" %>
	  <% end %>
	</end>
</li>