<h1>My artefacts</h1>
<div class="bold_action_links"><%= link_to "Add artefact", new_artefact_path %></div>
<% unless @artefacts.empty? %>
        <table class="artefacts" summary="User artefacts">
          <%= render :partial => "artefacts/artefact", :collection => @artefacts %>
        </table>
        <%= will_paginate @artefacts %>
				<div class="bold_action_links"><%= link_to "Add artefact", new_artefact_path %></div>
<% end %>

