<% unless @artefacts.empty? %>
        <table class="artefacts" summary="User artefacts">
          <%= render :partial => "artefacts/artefact", :collection => @artefacts %>
        </table>
        <%= will_paginate @artefacts %>
<% end %>