<h1>Artefacts
<span id="search" class="round">
  <%= render :partial => 'artefacts/search' %>
</span></h1>

<span id="artefact_items">
<% unless @artefacts.nil? %>
<%= render @artefacts %>
<% end %>
</span>
<br />

