<tr>
  	<td class="artefact">
    	<span class="artefact_name"><%= artefact.name %></span>
    	<span class="artefact_description"><%= artefact.description %></span>
  	</td>
	<td>
		<% user = artefact.user rescue User.find(artefact.user_id) %>
		<%= link_to "delete", artefact, :method => :delete,
		                                     :confirm => "You sure?",
		                                     :title => artefact.name %>
	</td>
</tr>