<tr>
	<td>
		<%= image_tag artefact_item_short.photo.url(:thumb), :class => "artefact_thumbnail artefact_image" %>
	</td>
	 	<td class="artefact">
	   	<h4 class="name"><%= artefact_item_short.name %></h4>
	   	<span class="description"><%= artefact_item_short.description %></span>
	</td>	
</tr>